.currentProfileAddress {
    color: #ffca1c;
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: .5em;
    margin-top: -.6em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.currentProfileEmail {
    color: #ffca1c;
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: .5em;
    margin-top: -.6em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LendEditProfile {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    margin-right: 1.75em;
    min-height: 5em;
    min-width: 12em;
    outline: none;
    word-spacing: .75em;
}

.ProfileCancelButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 4em;
    margin-left: .5em;
    outline: none;
    width: 8em;
}

.ProfileEditButtonsContainer {
    display: flex;
    flex-flow: row;
    margin-top: 1.5em;
}

.ProfileEditContainer{
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    height: 25em;
    justify-content: center;
    margin-top:.5em;
    width: 60em;
}

.ProfileEditContainerTitle {
    color: #ffca1c;
    font-size: 24pt;
    margin-top: -.6em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.ProfileEditEmailInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    height: auto;
    text-align: left;
    width: 20em;
}

.ProfileEditHomeAddressInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    height: auto;
    margin-top: 1em;
    text-align: left;
    width: 20em;
}

.ProfileInputsContainer {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.ProfileLoginBodyContainer {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.ProfileSaveChangesButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 4em;
    outline: none;
    width: 10em;    
}