.BorrowBodyContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.BorrowButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-radius: 1em;
    border-style: ridge;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 15em;
}

.BorrowContactALenderButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    min-height: 5em;
    margin-left: .8em;
    outline: none;
    width: 15em;
    word-spacing: 1em;
}

.BorrowDeleteToolButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-radius: 1em;
    border-style: ridge;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 15em;
}

.BorrowEditProfile {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    margin-right: 1.75em;
    min-height: 5em;
    min-width: 12em;
    outline: none;
    word-spacing: .75em;
}

.BorrowEditToolButtonContainer {
    background-color: rgb(63, 54, 54);
    background-image: url("/Images/dust.png");
    border: .2em;
    border-color: black;
    border-style: solid;
    display: flex;
    height: 3em;
    justify-content: center;
    margin-left: -1em;
    text-align: left;
    width: 43.7em;
}

.BorrowGoToLendButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 5em;
    margin-left: 1em;
    margin-top: 6.25em;
    margin-bottom: 1.1em;
    min-width: 12em;
    outline: none;
    word-spacing: .75em;
}

.BorrowLenderEmail { 
    margin-left: -.75em;
}

.BorrowLogOutButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    margin-bottom: 1em; 
    margin-right: 1.75em;
    margin-top: -.55em;
    min-height: 5em;
    min-width: 12em;
    outline: none;
    word-spacing: .75em;
}

.BorrowMessagesContainer {
    align-items: center;
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    height: 61.5em;
    min-width: 39em;
    overflow: auto;
}

.BorrowMessagesTitle {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.BorrowPageFooter {
    color: #ffca1c;
    font-size: 20pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.BorrowPageHeaderContainer {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.BorrowPageTitle {
    color: #ffca1c;
    font-size: 45pt;
    height: auto;
    margin-left: 8em;
    margin-top: 2.75em;
    min-width: 12em;
    text-shadow: 0 0 20px #000000;
}

.BorrowProfileandBorrowButtonContainer {
    display: flex;
    flex-flow: column;
    margin-top: 2em;
}

.BorrowSubHeaderContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-top: -10em;
}

.BorrowThisToolButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-radius: 1em;
    border-style: ridge;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 15em;
}

.BorrowToolAccessories { 
    margin-left: -.75em;
}

.BorrowToolDescription { 
    margin-left: -.75em;
}

.BorrowToolInfoContainer {
    display: flex;
    flex-flow: column;
    font-size: 14pt;
    font-weight: 600;
    margin-left: 1em; 
}

.BorrowToolMeOnceLogo {
    margin-left: 1em;
    margin-top: -.62em;
    min-height: 11.5em;
    min-width: auto;
}

.BorrowToolMeOncePicture {
    height: 20.65em;
    width: 20em;
}

.BorrowToolMeOnceTitle {
    font-size: 38pt;
    margin-bottom: -5em;
    margin-top: -.55em;
    width:  20em;
    word-spacing: 1em;
}

.BorrowToolMeOnceTitleContainer {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: ridge;
    color: #ffca1c;
    margin-top: -.62em;
    min-height: 4em;
    min-width: 60em;
    padding-top: 2em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.BorrowToolName { 
    margin-left: -.75em;
}

.BorrowToolsIAmBorrowingCard {
    background-color: white;
    border: .8em;
    border-color: #f2f0f0;
    border-style: groove;
    display: flex;
    flex-flow: row;
    height: 20.6em;
    line-height: 1.5;
    margin-bottom: .5em;
    margin-left: .4em;
    overflow: auto;
    width: 72.5em;
}

.BorrowToolsIAmBorrowingContainer {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    height: 30em;
    min-width: 76em;
    overflow: auto;
}

.BorrowToolsIAmBorrowingTitle {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.BorrowToolsICanBorrowContainer {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    height: 30em;
    min-width: 76em;
    overflow: auto;
}

.BorrowToolsICanBorrowTitle {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.BorrowToolSpecs{ 
    margin-left: -.75em;
}

button:hover {
    background-image: url("/Images/dust.png");
    background-color: #af8007;
    border-color: #215a72;
    box-shadow: 0px 0px 5px yellow;
    color: black;
    cursor: pointer;
    outline: none;
    }

.ReturnButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-radius: 1em;
    border-style: ridge;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 15em;
}

.ReturnButtonContainer {
    background-image: url("/Images/dust.png");
    background-color: rgb(63, 54, 54);
    border: .2em;
    border-color: black;
    border-style: solid;
    margin-left: -1em;
    text-align: center;
    width: 43.7em;
}

.ToolsICanBorrowButtonsContainer {
    background-color: rgb(63, 54, 54);
    background-image: url("/Images/dust.png");
    border: .2em;
    border-color: black;
    border-style: solid;
    margin-left: -1em;
    text-align: center;
    width: 43.7em;
}

.ToolsICanBorrowToolName {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsICanBorrowToolDescription {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsICanBorrowToolSpecs {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsICanBorrowToolAccessories {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsICanBorrowLenderEmail {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsIAmBorrowingToolName {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsIAmBorrowingToolDescription {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsIAmBorrowingToolSpecs {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsIAmBorrowingToolAccessories {
    font-weight: 1000;
    font-size: 16pt;
}

.ToolsIAmBorrowingLenderEmail {
    font-weight: 1000;
    font-size: 16pt;
}