.AddTool {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100%;
    overflow: auto;
    width: 80em;
}

.AddToolAccessoriesInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    height: 7em;
    margin-left: 1em;
    margin-top: .5em;
    text-align: left;
    width: 26em;
}

.AddToolButtonsContainer {
    display: flex;
    justify-content: center;
    margin-bottom:.5em;
    margin-top: .5em;
}

.AddToolCancelButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;  
    font-weight: 1000;
    height: 4em;
    margin-left: 1.4em;
    outline: none;
    width: 8em;
}

.AddToolDescriptionInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    height: 7em;
    margin-left: 1em;
    margin-top: .5em;
    text-align: left;
    width: 26em;
    word-wrap: normal;
}

.AddToolMain {
    align-items: center;
    display: flex;
    justify-content: center;
}

.AddToolNameInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    margin-left: 1em;
    text-align: left;
    width: 26em;
}

.AddToolSaveButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 4em;
    outline: none;
    width: 8em;
}

.AddToolSpecificationsInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    height: 7em;
    margin-left: 1em;
    margin-top: .5em;
    text-align: left;
    width: 26em;
}

.AddToolTitle {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

button:hover {
    background-color: #af8007;
    border-color: #215a72;
    box-shadow: 0px 0px 5px yellow;
    color: black;
    cursor: pointer;
    outline: none;
  }

.LendAddNewToolButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    margin-left: .8em;
    min-height: 5em;
    min-width: 15em;
    outline: none;
    word-spacing: .5em;
}

.LendBodyContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.LendDeleteToolButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-radius: 1em;
    border-style: ridge;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 15em;
}

.LendEditToolButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-color: #00a6ff;
    border-radius: 1em;
    border-style: ridge;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 15em;
}

.LendEditToolButtonContainer {
    background-color: rgb(63, 54, 54);
    background-image: url("/Images/dust.png");
    border: .2em;
    border-color: black;
    border-style: solid;
    display: flex;
    height: 3em;
    justify-content: space-between;
    text-align: center;
    width: 43.2em;
}

.LendGoToBorrowButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 5em;
    margin-left: 1em;
    margin-top: 1.83em;
    min-width: 12em;
    outline: none;
    word-spacing: .75em;
}

.LendLogOutButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    margin-bottom: 1em; 
    margin-right: 1.75em;
    min-height: 5em;
    min-width: 12em;
    outline: none;
    word-spacing: .75em;
}

.LendMessagesContainer {
    align-items: center;
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    height: 61.5em;
    min-width: 39em;
    overflow: auto;
}

.LendMessagesTitle {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LendPageFooter {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LendPageHeaderContainer {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.LendPageTitle {
    color: #ffca1c;
    font-size: 45pt;
    height: auto;
    margin-left: 8.4em;
    margin-top: 1em;
    min-width: 12em;
    text-shadow: 0 0 20px #000000;
}

.LendProfileandBorrowButtonContainer {
    display: flex;
    flex-flow: column;
    margin-top: 2em;
}

.LendSubHeaderContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-top: -10em;
}

.LendToolAccessories { 
    margin-left: .25em;
}

.LendToolBorrower {
    margin-left: .25em;
}

.LendToolDescription { 
    margin-left: .25em;
}

.LendToolInfoContainer {
    display: flex;
    flex-flow: column;
    font-size: 14pt;
    font-weight: 600;
    overflow: auto;
}

.LendToolMeOnceLogo {
    margin-left: 1em;
    margin-top: -7.25em;
    min-height: 11.5em;
    min-width: auto;
}

.LendToolMeOncePicture {
    height: 20.65em;
    width: 20.65em;
}

.LendToolMeOnceTitle {
    font-size: 38pt;
    margin-bottom: -5em;
    margin-top: -.55em;
    width:  20em;
    word-spacing: 1em;
}

.LendToolMeOnceTitleContainer {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: ridge;
    color: #ffca1c;
    margin-top: -7.25em;
    min-height: 4em;
    min-width: 60em;
    padding-top: 2em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LendToolName { 
    margin-left: .25em;
}

.LendToolsIAmLendingCard {
    background-color: white;
    border: .8em;
    border-color: #f2f0f0;
    border-style: groove;
    display: flex;
    flex-flow: row;
    height: 20.6em;
    line-height: 1.5;
    margin-bottom: .5em;
    margin-left: .4em;
    overflow: auto;
    width: 72.5em;
}

.LendToolsIAmLendingTitle {
    color: #ffca1c;
    font-size: 28pt;
    margin-left: .25em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LendToolsICanLendContainer {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    height: 61.5em;
    min-width: 76em;
    overflow: auto;
}

.LendToolsICanLendHeader {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}

.LendToolSpecs{ 
    margin-left: .25em;
}

.NewToolContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.NewToolInputs {
    margin-right: 5em;
}

.ToolCardPicture {
    height: 20.65em;
    width: 20.65em;
}

.ToolPictureFileInput {
    color: #ffca1c;
    font-size: 16pt;
    margin-left: .25em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.UploadTitle {
    color: #ffca1c;
    font-size: 28pt;
    margin-left: .25em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}


.NewToolPictureContainer{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 5em;
}

.UploadTitle {
    margin-top: 2em;
    margin-left: -4.05em;
}

.NewToolPictureLoading {
    color: #ffca1c;
    font-size: 16pt;
    margin-left: .25em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.NewToolPicture {
    height: 26em;
    width: 26em;
    border: 0;
}