.buttoncloseexisting {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-image: url("/Images/dust.png");
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    margin-bottom: 2em;
    margin-right: 1.75em;
    margin-top: 1em;
    min-height: 4em;
    min-width: 8em;
    outline: none;
    word-spacing: .75em;
}

.buttonclosenewemail {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-image: url("/Images/dust.png");
    background-size: 20px 20px;
    border: .7em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    margin-bottom: 2em;
    margin-right: 1.75em;
    margin-top: 1em;
    min-height: 4em;
    min-width: 8em;
    outline: none;
    word-spacing: .75em;
}


.dialogExisting {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: red;
    border-style: ridge;
    color: #ffca1c;
    font-size: 22pt;
    font-weight: 1000;
    min-height: 4em;
    margin-right: 42em;
    padding-top: 2em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
    width: 15em;
}

.dialogNewEmail {
    background-image: url("/Images/dust.png");
    background-color: black;
    border: .8em;
    border-color: red;
    border-style: ridge;
    color: #ffca1c;
    font-size: 22pt;
    font-weight: 1000;
    margin-right: 42em;
    min-height: 4em;
    padding-top: 2em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
    width: 15em;
}


.LoginBodyContainer {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.LoginExistingEmailInput {
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    text-align: left;
    width: 20em;
}

.LoginExistingEmailInputBorder {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    text-align: left;
    width: 27em;
}

.LoginExistingUserLoginButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-color: #00a6ff;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 4em;
    margin-top: .75em;
    outline: none;
    width: 15em;
}

.LoginExistingUsersContainer {
    align-items: center;
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    height: 16em;
    justify-content: center;
    width: 30em;
}

.LoginExistingUsersContainerTitle {
    color: #ffca1c;
    font-size: 24pt;
    margin-top: -.5em;
    text-shadow: 0 0 20px #000000;
}

.LoginInputsContainer {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.LoginNewEmailInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    height: auto;
    text-align: left;
    width: 20em;
}

.LoginNewHomeAddressInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    height: auto;
    margin-top: 1em;
    text-align: left;
    width: 20em;
}

.LoginNewUserLoginButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-color: #00a6ff;
    color: #ffca1c;
    font-size: 18pt;
    font-weight: 1000;
    height: 4em;
    margin-bottom: -.5em;
    margin-top: .75em;
    outline: none;
    width: 17em;
}

.LoginNewUsersContainer{
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    height: 20em;
    justify-content: center;
    margin-top:.5em;
    width: 30em;
}

.LoginNewUsersContainerTitle {
    color: #ffca1c;
    font-size: 24pt;
    margin-top: -.6em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LoginPageFooter {
    color: #ffca1c;
    font-size: 20pt;
    margin-top: 2em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LoginPageHeaderContainer {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.LoginToolMeOnceLoginTitleContainer {
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: ridge;
    color: #ffca1c;
    height: 4em;
    margin-left: 15em;
    margin-top: -1.6em;
    min-width: 30em;
    padding-top: 2em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LoginToolMeOnceLogo {
    margin-left: 1em;
    margin-top: -1.75em;
    min-height: 11.5em;
    min-width: auto;
}

.LoginToolMeOnceTitle {
    font-size: 38pt;
    margin-bottom: -5em;
    margin-top: -.55em;
    min-width:  20em;
    word-spacing: 1em;
}