.ContactBorrowerButtonContainer {
    background-color: rgb(63, 54, 54);
    background-image: url("/Images/dust.png");
    border: .2em;
    border-color: black;
    border-style: solid;
    display: flex;
    height: 3em;
    justify-content: space-between;
    width: 33.2em;
    text-align: center;
}

.ContactBorrowerDeleteButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 12em;
}

.ContactBorrowerReplyButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 12em;
}

.ReplyBorrowerId {
    margin-left: .25em;
}

.ReplyBorrowerMessage {
    margin-left: .25em;
}

.ReplyCardMessageStyling {
    font-weight: 1000;
    font-size: 16pt;
}

.ReplyCardEmailStyling {
    font-weight: 1000;
    font-size: 16pt;
}