.BorrowerMessagesCard {
    margin-top: .5em;
}

.BorrowerMessagesCardInfoContainer {
    background-color: white;
    display: flex;
    flex-flow: column;
    font-size: 14pt;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: .5em;
    margin-top: .5em;
    padding-bottom: .25em;
} 

.ContactLenderButtonContainer {
    background-color: rgb(63, 54, 54);
    background-image: url("/Images/dust.png");
    border: .2em;
    border-color: black;
    border-style: solid;
    display: flex;
    height: 3em;
    justify-content: center;
    margin-left: -.1em;
    text-align: center;
    width: 33.2em;
}

.ContactLenderId { 
    margin-left: .25em;
}

.ContactLenderMessage {
    margin-left: .25em;
}

.LendResponseBodyContainer {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.LendResponseButtonsContainer {
    display: flex;
    height: 3em;
    justify-content: space-between;
    margin-top: 1em;
    text-align: center;
    width: 27.5em;    
}

.LendResponseCancelButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    margin-left: .5em;
    outline: none;
    width: 10em;
}

.LendResponseContainer{
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    height: 20em;
    justify-content: center;
    margin-top:.5em;
    width: 30em;
}

.LendResponseContainerTitle {
    color: #ffca1c;
    font-size: 24pt;
    margin-top: -.6em;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}

.LendResponseEmailInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    height: auto;
    text-align: left;
    width: 20em;
}

.LendResponseInputsContainer {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.LendResponseMessageInput {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    font-family: arial, helvetica, sans-serif;
    font-size: 16pt;
    height: auto;
    margin-top: 1em;
    text-align: left;
    width: 20em;
}

.LendResponseSaveChangesButton {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #00a6ff;
    border-style: ridge;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffca1c;
    font-size: 14pt;
    font-weight: 1000;
    height: 3em;
    outline: none;
    width: 12em;
}