.NewToolContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}





.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewToolInputs {
    margin-right: 2em;
}



.AddTool {
    display: flex;
    justify-content: space-between;
    background-color: black;
    background-image: url("/Images/dust.png");
    border: .8em;
    border-color: #ffca1c;
    border-style: groove;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    width: 80em;
    overflow: auto;
}

.AddToolAccessoriesInput {
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    text-align: center;
    width: 17.4em;
    height: 7em;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
}

.AddToolAccessoriesInputBorder {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    width: 25em;
    height: 10.3em;
    margin-top: .5em;
}

.AddToolButtonsContainer {
    margin-top: .5em;
    margin-bottom:.5em;
}

.AddToolCancelButton {
    outline: none;
    width: 8em;
    height: 4em;
    margin-left: 1.4em;
    border: .5em;
    border-style: ridge;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    font-weight: 1000;
    font-size: 18pt;
    border-color: #00a6ff;
    color: #ffca1c;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.AddToolDescriptionInput {
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    text-align: center;
    width: 17.4em;
    height: 7em;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
}

.AddToolDescriptionInputBorder {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    width: 25em;
    height: 10.3em;
    margin-top: .5em;
    word-wrap: normal;
}

.AddToolNameInput {
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    text-align: center;
    width: 17.3em;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
}

.AddToolNameInputBorder {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    width: 25em;
    height: auto;
    margin-top: .5em;
}

.AddToolPicture {
    border: .8em;
    border-style: groove;
    border-color: #f2f0f0;
    height: 35em;
    margin-left: 2em;
    margin-top: .25em;
    min-width: 35em;
    min-height: 35em;

}

.AddToolSaveButton {
    outline: none;
    width: 8em;
    height: 4em;
    border: .5em;
    border-style: ridge;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    font-weight: 1000;
    font-size: 18pt;
    border-color: #00a6ff;
    color: #ffca1c;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.AddToolSpecificationsInput {
    font-family: arial, helvetica, sans-serif;
    font-size: 17pt;
    text-align: center;
    width: 17.4em;
    height: 7em;
    text-align: left;
    font-family: arial, helvetica, sans-serif;
}

.AddToolSpecificationsInputBorder {
    border: .5em;
    border-color:#f2f0f0;
    border-style: groove;
    width: 25em;
    height: 10.3em;
    margin-top: .5em;
}

.AddToolTitle {
    color: #ffca1c;
    font-size: 28pt;
    text-align: center;
    text-shadow: 0 0 20px #000000;
}